<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085671218054-0rv3o8keg98bbttc3noebsej92lr2ntm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085671218054-0rv3o8keg98bbttc3noebsej92lr2ntm</string>
	<key>API_KEY</key>
	<string>AIzaSyAnkDOqL3rB1i7otmbM-7K34E8o5F64NcE</string>
	<key>GCM_SENDER_ID</key>
	<string>1085671218054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c3a8c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c3a8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085671218054:ios:37937b33b801a3b006aa07</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-c3a8c.firebaseio.com</string>
</dict>
</plist>
